.journey-wrapper {
    width: 96%;
    height: 300px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    top: -50px;
    padding: 25px 10px;
    box-sizing: border-box;
    border-radius: 12px 12px 0 0 ;
    box-shadow: 0px 2px rgba(0,0,0,0.14);
    .journey-station {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        .station {
            width: 30%;
            font-size: 30px;
            text-align: center;
            outline: none;
            border: none;
        }
        .journey-switch {
            line-height: 40px;
            font-size: 25px;
        }
    }
}