.date-wrapper {
    .date-depart {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 40px 60px 60px;
        grid-template-rows: 40px;
        align-items: center;
        border-bottom: 1px solid #ccc;
        .depart {
            border: none;
            font-size: 20px;
            font-weight: bold;
        }
        .depart-tip {
            font-size: 20px;
            font-weight: bold;
        }
    }
}